.header{
    position: fixed; top: 0; left: 0; width: 100%; z-index: 3
}
.header-button{
    height: 100% !important;
    background-color: transparent !important;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    letter-spacing: 0;
    padding:0 30px;
   border-radius: 0;
   color: white;
}
.header-button:hover{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
.search-form{
    display: inline-block;
    margin-right: 20px;
    width: fit-content;
}


::ng-deep .mat-form-field-underline {
    display: none;
    border-bottom: none;
}
::ng-deep .mat-form-field-underline {
    display: none;
}

.header-content{
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 100px;
    position: relative;
    text-align: right;
}
.logo{
    height: 40px; float: left; display: flex; padding: 10px 0;
}
.mat-form-field-wrapper{
    margin-bottom: -1.25em;
 }
@media only screen and (max-width: 600px) {
.mat-mdc-form-field-subscript-wrapper{
    margin-bottom: 0 !important;
    display: none !important;
}
    .logo{
        height: 40px; float:none; padding: 10px 0;
    }
    .header-content{
        height: 60px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px ;
        position: relative;
        text-align: right;
        height: auto;
    }
    .search-form{
        width: 100%;
    }
    mat-form-field{
        width: 100%;
    }
   .header-button{
    display: none;
   }
   .offset{
    height: 120px !important;
   }


  }